html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
li {
  list-style: none;
}
textarea {
  overflow: auto;
  resize: none;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
a,
a:hover {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-height: 930px;
  height: auto;
}
.hide {
  display: none;
}
.tree {
  width: 100%;
}
.tree .drag-submit {
  display: flex;
  margin: 10px 0;
}
.tree .tree_title {
  height: 40px;
  color: #fff;
  background: #337ab7;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
}
.tree li {
  cursor: pointer;
  line-height: 35px;
}
.tree li i {
  margin-right: 5px;
  color: #333;
}
.tree li i.hide {
  visibility: hidden;
}
.tree li ul {
  display: none;
  margin-left: 16px;
}
.tree li ul .active-input input {
  height: 26px;
  padding: 0 5px;
}
.tree li ul.active {
  display: block;
}
.tree ul li > div.item-name {
  color: #5a5e66;
}
.tree ul li > div.item-name .active {
  display: none;
}
.tree ul li > div.item-name .active-move {
  float: right;
  position: relative;
  width: 55px;
  height: 35px;
}
.tree ul li > div.item-name .active-move span {
  position: absolute;
  font-size: 20px;
  height: 24px;
}
.tree ul li > div.item-name .active-move span.icon-up {
  top: -13px;
  left: 17px;
}
.tree ul li > div.item-name .active-move span.icon-up .up-info {
  display: none;
  font-size: 12px;
  width: 30px;
  position: absolute;
  top: 5px;
}
.tree ul li > div.item-name .active-move span.icon-up:hover .up-info {
  display: block;
}
.tree ul li > div.item-name .active-move span.icon-down {
  left: 17px;
  bottom: -3px;
}
.tree ul li > div.item-name .active-move span.icon-down .down-info {
  display: none;
  font-size: 12px;
  width: 30px;
  position: absolute;
  bottom: -10px;
}
.tree ul li > div.item-name .active-move span.icon-down:hover .down-info {
  display: block;
}
.tree ul li > div.item-name .active-move span.icon-left .left-info {
  display: none;
  font-size: 12px;
  width: 70px;
  position: absolute;
  left: -45px;
}
.tree ul li > div.item-name .active-move span.icon-left:hover .left-info {
  display: block;
}
.tree ul li > div.item-name .active-move span.icon-right {
  right: 0px;
}
.tree ul li > div.item-name .active-move span.icon-right .right-info {
  display: none;
  font-size: 12px;
  width: 70px;
  position: absolute;
  right: 5px;
}
.tree ul li > div.item-name .active-move span.icon-right:hover .right-info {
  display: block;
}
.tree ul li > div.item-name .item-count {
  float: right;
  color: #337ab7;
  margin-right: 20px;
}
.tree ul li > div.item-name:hover {
  background: #ddd;
}
.tree ul li > div.item-name:hover .active {
  display: block;
  float: right;
  margin-right: 5px;
  width: 50px;
  text-align: center;
  position: relative;
}
.tree ul li > div.item-name:hover .active .active-info {
  position: absolute;
  z-index: 100;
  display: none;
  padding: 5px;
  border: 1px solid #ccc;
  background: #ddd;
  left: -70px;
}
.tree ul li > div.item-name:hover .active .active-info button {
  margin-top: 5px;
}
.tree ul li > div.item-name:hover .active:hover > .active-info {
  display: block;
}
.tree ul li > div.active {
  background: #ddd;
}
/*# sourceMappingURL=style.css.map */