.gjk_table_tree {
  width: 100%;
  overflow: auto;
  border-top: 1px solid #e6e6e6;
}
.gjk_table_tree .drag-submit {
  display: flex;
  margin-bottom: 10px;
}
.gjk_table_tree .tree_title {
  display: flex;
  height: 60px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  line-height: 60px;
}
.gjk_table_tree .tree_title .title_icon {
  width: 10%;
  border-left: 1px solid #e6e6e6;
}
.gjk_table_tree .tree_title .title_name {
  width: 30%;
}
.gjk_table_tree .tree_title .title_remark {
  width: 35%;
}
.gjk_table_tree .tree_title .title_active {
  border-right: 1px solid #e6e6e6;
  width: 25%;
}
.gjk_table_tree li {
  cursor: pointer;
  font-size: 12px;
  line-height: 46px;
}
.gjk_table_tree li i.hide {
  visibility: hidden;
}
.gjk_table_tree li ul {
  display: none;
}
.gjk_table_tree li ul .item_title_icon i {
  display: inline-block;
  margin-left: 15px;
}
.gjk_table_tree li ul.active {
  display: block;
}
.gjk_table_tree ul li > div.item-name {
  display: flex;
  color: #5a5e66;
  border-bottom: 1px solid #e6e6e6;
}
.gjk_table_tree ul li > div.item-name .active {
  display: none;
}
.gjk_table_tree ul li > div.item-name .active-move {
  float: right;
  position: relative;
  width: 55px;
  height: 35px;
}
.gjk_table_tree ul li > div.item-name .active-move span {
  position: absolute;
  font-size: 20px;
  height: 24px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-up {
  top: -13px;
  left: 17px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-up .up-info {
  display: none;
  font-size: 12px;
  width: 30px;
  position: absolute;
  top: 5px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-up:hover .up-info {
  display: block;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-down {
  left: 17px;
  bottom: -3px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-down .down-info {
  display: none;
  font-size: 12px;
  width: 30px;
  position: absolute;
  bottom: -10px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-down:hover .down-info {
  display: block;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-left .left-info {
  display: none;
  font-size: 12px;
  width: 70px;
  position: absolute;
  left: -45px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-left:hover .left-info {
  display: block;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-right {
  right: 0px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-right .right-info {
  display: none;
  font-size: 12px;
  width: 70px;
  position: absolute;
  right: 5px;
}
.gjk_table_tree ul li > div.item-name .active-move span.icon-right:hover .right-info {
  display: block;
}
.gjk_table_tree ul li > div.item-name .item_title_icon {
  width: 10%;
  border-left: 1px solid #e6e6e6;
}
.gjk_table_tree ul li > div.item-name .item_title_name {
  text-align: center;
  width: 30%;
}
.gjk_table_tree ul li > div.item-name .item_title_remark {
  text-align: center;
  width: 35%;
}
.gjk_table_tree ul li > div.item-name .item_title_active {
  width: 25%;
  border-right: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.gjk_table_tree ul li > div.item-name .item_title_active span {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-right: 10px;
  cursor: pointer;
}
.gjk_table_tree ul li > div.item-name .item_title_active span i {
  font-size: 14px;
  color: #4778c7;
}
.gjk_table_tree ul li > div.item-name .item_title_active span:hover {
  background: rgba(71, 120, 199, 0.1);
}
.gjk_table_tree ul li > div.item-name .item_title_active span:hover i {
  color: #4778c7;
}
.gjk_table_tree ul li > div.item-name:hover {
  background: #ebf0f8;
}
.gjk_table_tree ul li > div.item-name:hover .active {
  display: block;
  float: right;
  margin-right: 5px;
  width: 50px;
  text-align: center;
  position: relative;
}
.gjk_table_tree ul li > div.active {
  background: #ebf0f8;
}
/*# sourceMappingURL=style.css.map */